@tailwind base;
@tailwind components;
@tailwind utilities;

.bgwhite {
  background-image: url('/landing/Shaadi-Organization-Pakistani-Rishtay-Pattern.png');
  background-repeat: repeat;
  background-size: 200px;
  object-fit: fill;
  background-color: #fcf2f3;

}
.bg-red-image {
  background-image: url('/landing/Shaadi-Organization-Pakistani-Rishtay-Pattern.png');
  background-repeat: repeat;
  background-size: 200px;
  object-fit: fill;
  background-color: #9B2C47;

}
.red-flower-image {
  background-image: url('/landing/shaadi-organization-pakistan-border-hr.png');
  background-repeat: repeat;
}


.cool-link {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}



.cool-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: white;
  transition: width .3s;
}

.cool-link:hover::after {
  width: 100%;
  /* //transition: width .3s; */
}